*{
    padding: 0;
    margin: 0;
}
/* body{
    padding-top: 60px;
} */
.container{
    height: 500px;
    /* background-color: #ccc;
    position: relative; */
}
/* .box{
    height: 100px;
    width: 100px;
    background-color: orange;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
} */

.box{
    height: 60px;
    position: sticky;
    background-color: #ccc;
    width: 100%;
    top: 0;
    /* Width theo thẻ Body */
}
.conten{
    height: 1500px;
    background-color: green;
}