* {
  padding: 0;
  margin: 0;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /* grid-template-columns: 200px repeat(4, 1fr); */
  grid-auto-rows: minmax(100px, auto);
  gap: 20px 50px; 
  /* 20px row- 50px column */
}
.grid-item {
  background-color: orange;
  border: 1px dashed black;
}
